<?xml version="1.0"?>
<settings>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>Repository</id>
      <username>~~~CLient~~~</username>
      <password>${clientId}~?~${clientSecret}</password>
    </server>
  </servers>

</settings>